@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html * {
    font-family: system-ui, sans-serif;
  }

  h1 {
    @apply text-7xl;
  }
}

.map-style {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.image-track > .image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: center;
}