@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html * {
    font-family: system-ui, sans-serif;
  }

  h1 {
    @apply text-7xl;
  }
}

.component-container {
  border: 1px solid black;
}

.map-style {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}